COMPOSE_PARALLEL_LIMIT=1
ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=server=host.docker.internal;port=3306;database=tlalocai_databse;user=tlalocai;password=TlalocaiApp123!
Jwt__Issuer=TlalocAi
Jwt__Audience=TlalocAi.Frontend
Jwt__SigningKey=change-this-development-signing-key-minimum-32-chars
DeviceAuth__ApiKeyHeaderName=X-Device-Api-Key
Cors__AllowedOrigins__0=http://localhost:5173
Cors__AllowedOrigins__1=http://localhost:3000
