VITE_API_BASE_URL=
VITE_IDENTITY_API_BASE_URL=
VITE_DEVICES_API_BASE_URL=
VITE_TELEMETRY_API_BASE_URL=
VITE_CONTROL_API_BASE_URL=
VITE_ANALYTICS_API_BASE_URL=
VITE_USE_GATEWAY=true
VITE_DEV_PROXY_TARGET=http://127.0.0.1:5100
